

.contenedor-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;

}

.cont-agregar-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 20%;
    height: 100%;

}
.cont-product-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 100%;
    height: 90%;
}
.cont-lista-productos{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 75%;
    height: 100%;
    padding-bottom: 50px;
}

/* producto */
.cont-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 430px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.267);
    margin: 10px;
    margin-top: 55px;
    border-radius: 15px;


}

.cont-img img{
    margin-top: 15px;
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.cont-info{
    display: flex;
    flex-direction: column  ;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 200px;
}
.cont-description{
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}

.cont-name{
    font-weight: bold;
    font-size: 13px;
    color: rgb(68, 68, 255);
    margin-top: 5px;
    width: 100%;
    text-align: center;
    background-color: rgb(239, 255, 250);
    border-radius: 5px;

}
.cont-info1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: -35px;
}

.cont-info2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;

}

.cont-rating{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;

}

.cont-stock{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 30px;
    background :rgba(50, 60, 255, 0.673)
}
.cont-stock h3{
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.cont-price{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 30px;
    background : rgba(250, 149, 42, 0.917)
}

.cont-price h3{
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.cont-images{
    display: flex;
    justify-content: space-around   ;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 30px;
    background : rgba(255, 255, 255, 0.3)
}

.cont-images-next, .cont-images-prev{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}


/* loading */

.cont-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}



/*  */


.modal-confirm {
	color: #636363;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}